{%- assign experience = data.experience %}
{%- if experience and experience.show %}
<section class="experience" style="order: {{ experience.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-briefcase"></i>
    <h2>{{ experience.title }}</h2>
  </div>

  <div class="section-content">
    {%- if experience.description.size > 0 %}
    <div class="description markdown">
      {{ experience.description | markdownify }}
    </div>
    {%- endif %}

    {%- if experience.items %}
    <div class="items">
      {%- for exp in experience.items %}
      <div class="item">

        {%- if exp.company %}
        <div class="row">
          <div class="company">
            {%- if exp.link %}
            <a href="{{ exp.link }}" target="_blank">{{ exp.company }}</a>
            {%- else %}
            <span>{{ exp.company }}</span>
            {%- endif %}
            {%- if exp.location %}
            <div style="margin-left: 10px" class="location">
                <i class="fa-solid fa-location-dot"></i>
                <span>{{ exp.location }}</span>
            </div>
            {%- endif %}
          </div>
        </div>

        {%- for role in exp.roles %}

        <div style="margin-left: 10px">

        <div class="row">
          <div class="role">
            <span>{{ role.name }}</span>
            {%- if role.tags %}
              <small>[{{ role.tags }}]</small>
            {%- endif %}
          </div>
            <div class="date">
                <strong>{{ role.date }}</strong>
            </div>

        </div>

        {%- if role.description.size > 0 %}
        <div style="margin-bottom: 10px" class="description markdown">
          {{ role.description | markdownify }}
        </div>
        {%- endif %}

        </div>

        {% endfor %}

        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
